@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #292D32;
  line-height: 1;
  font-family: "Poppins";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #ffffff;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 85.9375rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 0px;
  height: 0px;
  margin: 0px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.bnt-active {
  background-color: rgba(22, 192, 152, 0.38);
  color: #008767;
  border: 0.0625rem solid #00B087;
}

.bnt-inactive {
  background-color: #FFC5C5;
  color: #DF0404;
  border: 0.0625rem solid #DF0404;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.dashboard__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4.4375rem;
  height: 74.875rem;
}

.dashboard__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 292px;
  width: 100%;
  height: 100%;
  padding: 2.25rem 1.75rem 4.75rem 0.9375rem;
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
          box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
}

.dashboard__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.dashboard__logo-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
}

.dashboard__name-title {
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #000000;
}

.dashboard__name-version {
  font-weight: 500;
  font-size: 0.625rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #838383;
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}

.dashboard__avatar {
  padding-left: 3.375rem;
  min-height: 2.625rem;
  margin-top: auto;
}

.dashboard__avatar-name {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #000000;
}

.dashboard__avatar-pos {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #757575;
}

.dashboard__content {
  width: 100%;
}

.dashboard__content-title {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #000000;
}

.tabs__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.125rem;
}

.tabs__nav-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.875rem;
  padding: 0.6875rem 0.5rem 0.6875rem 0.6875rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #9197B3;
  border-radius: 0.5rem;
}

.tabs__nav-btn span {
  padding-left: 2.375rem;
}

.tabs__nav-btn.active {
  color: #ffffff;
  background-color: #5932EA;
}

.tabs__nav-btn.active svg {
  stroke: #ffffff;
}

.tabs__nav-btn svg {
  width: 0.5rem;
  height: 0.6875rem;
  fill: transparent;
  stroke: #838383;
  -webkit-transform: translateX(-4px);
      -ms-transform: translateX(-4px);
          transform: translateX(-4px);
}

.tabs__item {
  display: none;
}

.tabs__item.active {
  display: block;
}

.panel--dashboard {
  background: url("../img/key-square.svg") center left no-repeat;
}

.panel--product {
  background: url("../img/3d-square.svg") center left no-repeat;
}

.panel--customers {
  background: url("../img/user-square.svg") center left no-repeat;
}

.panel--income {
  background: url("../img/wallet-money.svg") center left no-repeat;
}

.panel--promote {
  background: url("../img/discount-shape.svg") center left no-repeat;
}

.panel--help {
  background: url("../img/message-question.svg") center left no-repeat;
}

.product {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
          box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  border-radius: 30px;
  padding: 1.875rem 3.1875rem 2.5625rem 2.375rem;
}

.product__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__item-title {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #000000;
}

.product__item-title:not(:last-child) {
  margin-bottom: 8px;
}

.product__item-subtitle {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #16C098;
}

.product__item-input {
  position: relative;
  width: 231px;
  height: 2.375rem;
  border-radius: 0.625rem;
  padding-left: 2.5rem;
  background: #F9FBFF url("../img/search.svg") center left 8px no-repeat;
  cursor: pointer;
}

.product__item-input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #B5B7C0;
}

.product__item-input::-moz-placeholder {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #B5B7C0;
}

.product__item-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #B5B7C0;
}

.product__item-input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #B5B7C0;
}

.product__item-input::placeholder {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #B5B7C0;
}

.product__body {
  position: relative;
  width: 100%;
  text-align: left;
  margin-bottom: 30px;
}

.product__body-tr td {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #292D32;
  padding: 17.4px 0rem;
  border-bottom: 0.0625rem solid #EEEEEE;
}

.product__body-tr th {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #B5B7C0;
  padding-bottom: 8px;
  border-bottom: 0.0625rem solid #EEEEEE;
}

.product__body-tr button {
  padding: 0.25rem 0.75rem;
  min-width: 5rem;
  border-radius: 0.25rem;
  cursor: default;
}

.product__body-name {
  width: 19.5%;
}

.product__body-company {
  width: 14%;
}

.product__body-num {
  width: 18%;
}

.product__body-email {
  width: 23.5%;
}

.product__body-country {
  width: 15.5%;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination__title {
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #B5B7C0;
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
}

.pagination__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.625rem;
  height: 1.5rem;
  background: #F5F5F5;
  border: 0.0625rem solid #EEEEEE;
  border-radius: 0.25rem;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #404B52;
}

.pagination__link:last-child {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pagination__link svg {
  width: 0.5rem;
  height: 0.375rem;
}

@media (min-width: 85.9375em) {
  .dashboard__logo:not(:last-child) {
    margin-bottom: 3.25rem;
  }

  .dashboard__name-title {
    font-size: 1.625rem;
  }

  .dashboard__content {
    padding-top: 2.5625rem;
  }

  .dashboard__content {
    padding-bottom: 2.5625rem;
  }

  .dashboard__content-title:not(:last-child) {
    margin-bottom: 3.1875rem;
  }

  .product__header:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 75em) {
  .dashboard__container {
    height: 100vh;
    overflow: auto;
  }

  .dashboard__panel {
    padding: 1.25rem 0.625rem;
  }

  .product {
    min-width: 750px;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  }
}

@media (max-width: 75em) and (max-width: 20em) {
  .dashboard__container {
    gap: 1.25rem;
  }
}

@media (max-width: 20em) {
  .dashboard__logo:not(:last-child) {
    margin-bottom: 0.0000000625rem;
  }

  .dashboard__name-title {
    font-size: 1.375rem;
  }

  .dashboard__content {
    padding-top: 1.25rem;
  }

  .dashboard__content {
    padding-bottom: 1.25rem;
  }

  .dashboard__content-title:not(:last-child) {
    margin-bottom: 1.625rem;
  }

  .product__header:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 47.99875em) {
  .dashboard__panel {
    gap: 1.25rem;
  }
}

@media (max-width: 75em) and (min-width: 85.9375em) {
  .dashboard__container {
    gap: 2.5rem;
  }
}

@media (max-width: 75em) and (min-width: 20em) and (max-width: 85.9375em) {
@supports (gap: clamp( 1.25rem , 0.8708530806rem  +  1.8957345972vw , 2.5rem )) {
    .dashboard__container {
      gap: clamp( 1.25rem , 0.8708530806rem  +  1.8957345972vw , 2.5rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.8708530806rem  +  1.8957345972vw , 2.5rem )) {
    .dashboard__container {
      gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 65.9375);
    }
}
}

@media (min-width: 20em) and (max-width: 85.9375em) {
@supports (margin-bottom: clamp( 0.0000000625rem , -0.9857819091rem  +  4.9289098578vw , 3.25rem )) {
    .dashboard__logo:not(:last-child) {
      margin-bottom: clamp( 0.0000000625rem , -0.9857819091rem  +  4.9289098578vw , 3.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.0000000625rem , -0.9857819091rem  +  4.9289098578vw , 3.25rem )) {
    .dashboard__logo:not(:last-child) {
      margin-bottom: calc(0.0000000625rem + 3.2499999375 * (100vw - 20rem) / 65.9375);
    }
}

@supports (font-size: clamp( 1.375rem , 1.2991706161rem  +  0.3791469194vw , 1.625rem )) {
    .dashboard__name-title {
      font-size: clamp( 1.375rem , 1.2991706161rem  +  0.3791469194vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.2991706161rem  +  0.3791469194vw , 1.625rem )) {
    .dashboard__name-title {
      font-size: calc(1.375rem + 0.25 * (100vw - 20rem) / 65.9375);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.8518957346rem  +  1.990521327vw , 2.5625rem )) {
    .dashboard__content {
      padding-top: clamp( 1.25rem , 0.8518957346rem  +  1.990521327vw , 2.5625rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.8518957346rem  +  1.990521327vw , 2.5625rem )) {
    .dashboard__content {
      padding-top: calc(1.25rem + 1.3125 * (100vw - 20rem) / 65.9375);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.8518957346rem  +  1.990521327vw , 2.5625rem )) {
    .dashboard__content {
      padding-bottom: clamp( 1.25rem , 0.8518957346rem  +  1.990521327vw , 2.5625rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.8518957346rem  +  1.990521327vw , 2.5625rem )) {
    .dashboard__content {
      padding-bottom: calc(1.25rem + 1.3125 * (100vw - 20rem) / 65.9375);
    }
}

@supports (margin-bottom: clamp( 1.625rem , 1.1510663507rem  +  2.3696682464vw , 3.1875rem )) {
    .dashboard__content-title:not(:last-child) {
      margin-bottom: clamp( 1.625rem , 1.1510663507rem  +  2.3696682464vw , 3.1875rem );
    }
}

@supports not (margin-bottom: clamp( 1.625rem , 1.1510663507rem  +  2.3696682464vw , 3.1875rem )) {
    .dashboard__content-title:not(:last-child) {
      margin-bottom: calc(1.625rem + 1.5625 * (100vw - 20rem) / 65.9375);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.8708530806rem  +  1.8957345972vw , 2.5rem )) {
    .product__header:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.8708530806rem  +  1.8957345972vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8708530806rem  +  1.8957345972vw , 2.5rem )) {
    .product__header:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 65.9375);
    }
}
}

@media (any-hover: hover) {
  .pagination__link:hover {
    background-color: #5932EA;
    color: #ffffff;
  }

  .pagination__link:hover svg {
    fill: #ffffff;
  }

  .pagination__link.active {
    background-color: #5932EA;
    color: #ffffff;
  }
}